/* index.html */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body{
    background-color: #424242;
}

#homeContainer {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    color: #424242;
    font-weight: 900;
    font-size: 100px;
    text-shadow: 8px 8px 12px #383838, -8px -8px 12px #4c4c4c;
    outline: none;
}

#homeBtn {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.mainBtn {
    width: 300px;
    height: 70px;
    border-radius: 50px;
    background-color: #424242;
    box-shadow:  25px 25px 50px #383838, -25px -25px 50px #4c4c4c;
    border-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 18px;
}

.sound-help {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
    
}

.sound-help > * {
    background-color: #FCA311;
}

.sound {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoWrapperContainer {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
}

#infoWrapper {
    background-color: #424242;
    border-radius: 20px;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoWrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 328px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #4c4c4c;
    margin-top: 20px;
}

.footer > span {
    height: 20px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.footer > span > a {
    text-decoration: none;
    color: white;
}
